body {
  font-family: Arial, sans-serif;
  background: url("../img/bg_mob.png") center top no-repeat, url("../img/main_bg.jpeg");
  color: #FFF;
  min-height: 100vh;
  display: flex;
  flex-flow: column;

  @media screen and (min-width: 768px) {
    background: url("../img/pageglare.png") center top no-repeat, url("../img/main_bg.jpeg");
  }
}

main {
  flex: 1 0 auto;
}

.main_about {
  padding-top: 300px;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 80%;

  @media screen and (min-width: 768px) {
    width: 730px;
  }

  @media screen and (min-width: 1200px) {
    width: 900px;
  }
}

.header_btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  color: #92420f;
  background: #c9c9dd;
  font-size: 14px;
  font-weight: 700;
  border-radius: 3px;
  width: 110px;
  height: 23px;

  &:hover {
    box-shadow: 0px 0px 3px 1px rgba(252,252,252,1);
  }

  & svg {
    width: 18px;
    height: 18px;
  }

  @media screen and (min-width: 480px) {
    width: 152px;
    height: 32px;

    font-size: 18px;

    & svg {
      width: 24px;
      height: 24px;
    }
  }
}

.home_btn {
  background: url("../img/home_btn.jpeg");
  background-size: contain;
}

.about_us_btn {
  background: url("../img/about_us_btn.jpeg");
  background-size: contain;
}

.hero {
    padding-top: 285px;

  @media screen and (min-width: 768px){
    padding-top: 300px;
  }

  @media screen and (min-width: 1200px){
    padding-top: 350px;
  }
}

.wrapper_slider {
  border: 1px solid red;
  position: relative;
  width: fit-content;
}

.slider_link {
  display: inline-block;
}

.slider_img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.top_video_gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;

  margin-top: 15px;

  & img {
    height: 141px;
  }

  @media screen and (max-width: 430px) {
    & a {
      width: 45%;
      min-width: 120px;
    }
  }

  @media screen and (min-width: 430px) {
    & img {
      width: 141px;
      height: 141px;
    }
  }
}

.slider_label {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  padding: 15px;
  color: #FFFFFF;
  z-index: 10;
}

.top_sliders {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    justify-content: space-between;
  }
}

.slider_top {
  width: 250px;
  height: 225px;

  @media screen and (min-width: 430px) {
    width: 300px;
  }

  @media screen and (min-width: 768px) {
    width: 340px;
    height: 250px;
  }

  @media screen and (min-width: 1200px) {
    width: 420px;
    height: 250px;
  }
}

.wrapper_bottom_slider {
  width: fit-content;
  margin: 0 auto;
}

.slider_bottom {
  height: 225px;
  width: 250px;

  @media screen and (min-width: 430px) {
    height: 225px;
    width: 300px;
  }

  @media screen and (min-width: 768px) {
    width: 700px;
  }

  @media screen and (min-width: 1200px) {
    width: 870px;
  }
}

.article {
  margin: 30px 0 100px;
}

h3 {
  font-size: 20px;
  font-weight: 600;
  text-indent: 25px;
  line-height: 1;

  @media screen and (min-width: 768px) {
    font-size: 22px;
    font-weight: 700;
  }

  @media screen and (min-width: 1200px) {
    font-size: 24px;
  }
  }

.text {
  font-size: 15px;
  line-height: 1.21;
  text-align: justify;
  text-indent: 25px;

  margin-top: 13px;

  @media screen and (min-width: 768px){
    font-size: 17px;
    text-indent: 35px;
  }

  @media screen and (min-width: 1200px){
    font-size: 19px;
    text-indent: 50px;
  }
}

footer {
  padding: 40px;
}

.copyright {
  font-size: 13px;
  line-height: 1.77;
  color: rgb(166, 166, 166)
}

.contacts_btn {
  position: fixed;
  left: -316px;
  top: 30%;
  z-index: 999;
  transition: 300ms;

  &:hover {
    transform: translateX(316px);
    transition: 300ms;
  }
}

.send_msg {
  position: fixed;
  right: -290px;
  top: 26%;
  display: flex;
  align-items: center;
  gap: 5px;

  z-index: 999;
  transition: 300ms;

  &:hover {
    transform: translateX(-290px);
    transition: 300ms;
  }
}

.send_msg_new {
  position: fixed;
  left: -300px;
  top: 30%;

  padding: 20px;
  background: #B9C2CB;
  border-radius: 5px;

  z-index: 999;
  transition: 300ms;

  &:hover {
    transform: translateX(300px);
    transition: 300ms;
  }
}

.contacts_item {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px 0;

  border-top: dashed 2px #ddd9d9;

  & li {
    color: #92420f;
  }
  & a {
    color: #92420f;
  }
}

.contact_title {
  font-size: 16px;
  color: #92420f;
  text-align: center;
}

.contact_label {
  position: absolute;
  top: 130px;
  right: -122px;
  width: 200px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ec6e15;
  color: black;
  font-size: 20px;
  border-radius: 4px;
  transform: rotate(-90deg);
  cursor: pointer;
}

.send_msg_label {
  position: absolute;
  top: 160px;
  left: -123px;
  width: 200px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ec6e15;
  color: black;
  font-size: 20px;
  border-radius: 4px;
  transform: rotate(-90deg);
  cursor: pointer;
}

.form_msg {
  width: 290px;
  height: 365px;
  padding: 40px 15px 30px;
  border-radius: 5px;
  background: url("../img/form_bg.png") center center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;

  & input, & textarea {
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #B9C2CB;
    box-shadow: 0 0 10px rgba(192, 192, 192, 0.7) inset, 0px 0px 7px rgba(192, 192, 192, 0.7);

    color: #3D5166;
    background: #F9FAFB;
    font-size: 13px;
  }

  & button {
    border-radius: 2px;
    border: 1px solid black;
    width: fit-content;
    background: rgb(239, 239, 239);
    padding: 3px;
    margin: 0 auto;

    font-size: 13px;
    color: #505050
  }
}

.wrapper_links {
  display: flex;

  align-items: center;
  justify-content: center;
  gap: 15px;

  @media screen and (max-width: 768px) {
    flex-wrap: wrap;
  }

  & a {
    border: 1px solid red;
    max-width: 400px;
  }
}

.gallery_title {
  font-size: 26px;
  margin-bottom: 20px;
}

.gallery_label {
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 15px;
}
